<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sktc.ticketprinter">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketPrinter">
        <activity
            android:name="com.sktc.ticketprinter.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sktc.ticketprinter.MainActivity"
            android:exported="false"
            android:label="Commute Ticket" />

        <activity
            android:name="com.sktc.ticketprinter.ManagerSetupActivity"
            android:exported="false"
            android:label="Manager Setup" />

        <activity
            android:name="com.sktc.ticketprinter.DailyReportActivity"
            android:exported="false"
            android:label="Daily Report" />

        <activity
            android:name="com.sktc.ticketprinter.SettingsActivity"
            android:exported="false"
            android:label="Settings" />
    </application>

</manifest>
